<footer>
    <div class="standard_container">
        <div class="footer_wrapper">
            <div class="footer_box footer-left">
              <img src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab0182a_logo2.svg" alt="" class="footer_logo">
              <p>
                Dr. Leslie M.H. Carpenter, DDS has been providing compassionate, expert dental care for over 25 years,
                serving the Pasadena community with a focus on personalized treatment and lasting oral health.
              </p>
            </div>
            <div class="footer_box footer-main">
              <div class="footer_links">
                <div class="heading">Services</div>
                <ul>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Services</a></li>
                </ul>
              </div>
              <div class="footer_links mt-5">
                <div class="heading">Schedule Your Appointment</div>
                <ul>
                  <li>
                    <a href="#" onclick="window.location.href='tel:+16267954389'">
                      Call (626) 795 - 4389
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="footer_box footer-service">
              <div class="footer_links">
                <div class="heading">Service Areas</div>
                <ul>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Services</a></li>
                </ul>
              </div>
            </div>
            <div class="footer_box footer-right">
              <p>Locate us at:</p>
              <div class="w-embed w-iframe">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d981.7376689029853!2d-118.13565702406356!3d34.142280556023344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c35ded22c5c3%3A0x87695fb78dfe792c!2sCarpenter%20Leslie%20DDS!5e0!3m2!1sen!2sng!4v1738915868703!5m2!1sen!2sng" width="432" height="236" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </div>
            </div>
          </div>
          
        <div class="footer-divider"></div>
        <div class="copyright-footer-socials">
            <div class="footer-copyright-center">© 2024 Leslie Carpenter DDS. All rights reserved.</div>
            <div class="footer-socials">
                <a href="https://x.com/lesliecarpent15" class="x w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab0182f_x.svg"alt=""></a>
                <a href="https://www.linkedin.com/in/leslie-carpenter-0a000040/" class="linked-in w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab0182e_linkedin.svg" alt=""></a>
                <a href="#" class="fb w-inline-block"><img loading="lazy" src="https://cdn.prod.website-files.com/67a3ee73f098d5e2742d5dfd/67a3ee9704b1efd86ab01830_fb.svg" alt=""></a>
            </div>
        </div>
    </div>
</footer>