@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.service-area-section {
    background-color: #e9e9e9;
    padding: 30px 0px;
}

.service-area-section-2 {
    background-color: rgb(255, 255, 255);
    padding: 70px 0px;
}

.service-area-main-box {
    max-width: 1530px;
    width: 98%;
    padding: 0px 15px;
    margin: 0 auto;
}

.form-service-main-box {
    display: flex;
    justify-content: center;
}

.tag-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
}

.tag {
    color: #111827;
    padding: 8px;
    border: 1px solid #6b7280;
    border-radius: 0.75rem;
    font-size: 12px;
    line-height: 16px;
}

.top-content-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.top-content-box .heading {
    color: #3d2f2a;
    font-family: "Playfair Display", serif;
    font-size: 36px;
    font-weight: 800;
    margin-top: 30px;
    line-height: 40px;
}

.top-content-box .paragraph {
    font-size: 18px;
    font-weight: 400;
    margin-top: 25px;
    font-family: Open Sans, sans-serif;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid #0B3D2C;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.card-link {
    text-decoration: none;
}

.card .heading {
    color: #3d2f2a;
    font-family: "Playfair Display", serif;
    font-size: 24px;
    color: black;
    font-weight: 700;
    margin-bottom: 3px;
    margin-top: 0;
    padding: 20px;
}

.cards-box {
    margin-top: 60px;
    width: 100%;
}

.card img {
    height: 288px;
    width: 100%;
}

.button-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.button-box button {
    font-family: "Playfair Display", serif;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #597462;
    padding: 16px 48px;
    color: white;
    gap: 8px;
    border-radius: 40px;
    font-weight: 600;
    transition: all linear 0.2s;
}

.button-box button:hover {
    background-color: #324137;
}

.rating-box {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.rating-box .left {
    display: flex;
    gap: 8px;
}

.rating-box .left img {
    height: 28px;
}

.rating-box .left p {
    font-size: 12px;
    line-height: 17px;
}

.bold {
    font-weight: 600;
}

.rating-box .right {
    display: flex;
    gap: 8px;
}

.rating-box .right img {
    height: 20px;
}

.rating-box .right p {
    font-size: 12px;
    line-height: 17px;
}

.form-main-box {
    max-width: 904px;
    display: flex;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 0.375rem;
}

.form-main-box .form-left {
    font-family: Open Sans, sans-serif;
    width: 40%;
    background-color: #66785e;
    padding: 48px;
    color: white;
    border-radius: 0.375rem;
}

.form-main-box .form-right {
    width: 70%;
    padding: 48px;
    border-radius: 0.375rem;
}

.form-left {
    position: relative;
}

.form-left .heading {
    font-size: 18px;
    font-weight: 500;
}

.form-left .para {
    font-size: 16px;
    margin-top: 25px;
    line-height: 22px;
}

.form-left .contact-details {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-left .element {
    position: absolute;
    right: 0;
}

.form-left .contact-details p {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.form-left .contact-details p img {
    width: 20px;
}

.form-right p {
    font-size: 18px;
}

.form-box {
    margin-top: 20px;
    width: 100%;
}

.form-box label {
    font-size: 14px;
    color: #111827;
}

.form-box input {
    border: 1px solid rgb(209 213 219 / 1);
    border-radius: 0.375rem;
    width: 100%;
    padding: 12px 16px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.form-box textarea {
    border: 1px solid rgb(209 213 219 / 1);
    border-radius: 0.375rem;
    width: 100%;
    padding: 12px 16px;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgb(0 0 0 / 0.05);
}

.main-form-box {
    display: flex;
    gap: 20px;
    width: 100%;
}

.form-button-box {
    display: flex;
    justify-content: end;
    margin-top: 30px;
}

.form-button-box button {
    border: none;
    font-size: 16px;
    padding: 12px 24px;
    background-color: #597462;
    color: white;
    border-radius: 40px;
    transition: all linear 0.2s;
    font-family: "Playfair Display", serif;
}

.form-button-box button:hover {
    background-color: #324137;
}

.label-main-box {
    display: flex;
    justify-content: space-between;
}

.label-main-box p {
    color: #6b7280;
    font-size: 14px;
}

.check-box-main {
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

.custom-google-rating {
    display: flex;
    gap: 18px;
    margin-top: 25px;
    margin-left: 8px;
}

.left-rating {
    display: flex;
    align-items: center;
}

.left-rating img {
    width: 35px;
}

.right-rating .text-box {
    text-align: center;
    font-size: 13px;
}

.stars-box {
    display: flex;
}

.star img {
    width: 20px;
}

.showMessage {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 10px;
}

.form-logo {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@media only screen and (max-width: 1500px) {
    .service-area-main-box {
        max-width: 1250px;
    }
}

@media only screen and (max-width: 1100px) {
    .form-main-box {
        flex-direction: column;
    }

    .form-main-box .form-left {
        width: 100%;
    }

    .form-main-box .form-right {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .main-form-box {
        display: flex;
        gap: 0px;
        width: 100%;
        flex-direction: column;
    }

    .check-box-main {
        display: flex;
        gap: 0px;
        margin-top: 25px;
        flex-direction: column;
    }
}

@media only screen and (max-width: 400px) {
    .service-area-main-box {
        padding: 0px 15px;
    }

    .form-main-box .form-left {
        padding: 25px 20px;
    }

    .form-main-box .form-right {
        padding: 48px 20px;
    }

    .top-content-box .heading {
        font-size: 28px;
    }

    .top-content-box .paragraph {
        font-size: 16px;
        line-height: 23px;
    }
}